@using LeilaoGraff.Dtos;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pessoas = (List<PessoaDto>)ViewData["pessoas"];
}

<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h2>Pessoas</h2>
            <p>Pessoas cadastradas para efetuar lances:</p>
        </div>
        <div class="col-lg-2">
            <a class="btn btn-primary btn-block" asp-area="" asp-controller="Pessoas" asp-action="Novo">Nova Pessoa</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>A&ccedil;&otilde;es</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in pessoas)
            {
                <tr>
                    <td>@pessoa.Nome</td>
                    <td>@pessoa.Idade</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-area="" asp-controller="Pessoas" asp-action="Editar" asp-route-id="@pessoa.Id">Editar</a>
                        <a class="btn btn-sm btn-danger" asp-area="" asp-controller="Pessoas" asp-action="Remover" asp-route-id="@pessoa.Id">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

